body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.back-to-cardapio {
    color: white;
    text-decoration: none;
    font-size: 16px;
    background-color: #ffc0cb;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-to-home {
    color: white;
    text-decoration: none;
    font-size: 16px;
    background-color: #ffc0cb;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-to-contato {
    color: white;
    text-decoration: none;
    font-size: 16px;
    background-color: #ffc0cb;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header {
    background-color: #ff6f61;
    padding: 15px 0;
    text-align: center;
}

nav {
    text-align: center;
    margin-bottom: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffe6e1;
}

.sorvete {
    text-align: center;
    font-size: 36px;
    color: #ff9999;
    margin-top: 0;
}

.menu {
    padding: 50px 20px;
    text-align: center;
}

.menu-item {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    max-width: 120px;
    border-radius: 10px;
    margin-right: 20px;
}

.description {
    text-align: left;
}

.description h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.description p {
    margin: 5px 0;
    color: #666;
}

.price {
    font-size: 18px;
    color: #ff6666;
    font-weight: bold;
}

footer {
    background-color: #ff6f61;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
}

.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  