body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.back-to-contato {
    color: white;
    text-decoration: none;
    font-size: 16px;
    background-color: #ffc0cb;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-to-home {
    color: white;
    text-decoration: none;
    font-size: 16px;
    background-color: #ffc0cb;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-to-cardapio {
    color: white;
    text-decoration: none;
    font-size: 16px;
    background-color: #ffc0cb;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    background-color: #ff6f61;
    padding: 15px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: #ffe6e1;
}

h1 {
    font-size: 36px;
    color: #ff9999;
    text-align: center;
    margin-bottom: 20px;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    margin: 5px 0;
    font-size: 18px;
}

.contact-info strong {
    color: #ff9999;
}

.contact-form {
    margin-top: 20px;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #ff9999;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.contact-form button:hover {
    background-color: #e5533d;
}

footer {
    background-color: #ff6f61;
    color: white;
    text-align: center;
    padding: 15px 0;
}
